* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(image.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color: white;
    margin: 3% 0 2% 12%;
    background-color: hsla(216, 19%, 15%, 0.548);
    
}

h2 {
    grid-column: 3/6;
    margin-top: 2rem;
    color: black;
}

.formulaire {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 3% 0 2% 12%;
    background-color: hsla(218, 9%, 34%, 0.548);
    border-radius: 15px;
    width: 80%;
}

.formulaire input {
    grid-column: 3/11;
    height: 2rem;
    margin-top: 1rem;
    border: hidden;
    border-radius: 2rem;
    padding-left: 1rem;
    outline: none;
}

.options {
    display: flex;
    grid-column: 3/11;
    color: black;
    border: hidden;
    border-radius: 2rem;
    height: 2rem;
    margin-top: 1rem;
}

.promo {
    grid-column: 3/6;
    color: black;
}

.submit {
    border-radius: 2rem;
    margin: 2rem 0;
    grid-column: 6/8;
    margin-top: 4rem;

}

.table {
    padding: 2rem 2rem;
    grid-column: 1/15;
    color: white;
}

.table th {
    border: 4px solid white;
}

.table td {
    border: 4px solid white;
    color: white;
}

.btnMod {
    color: rgb(23, 228, 23);
    font-size: large;
}

.btnSup {
    color: rgb(247, 11, 11);
}
/* style Modale */
#md {
    display: none;
}

.cancelbtn {
    background-color: rgb(13, 245, 13);
    height: 48px;
    padding: 0 24px 0 16px;
    border-radius: 24px;
    cursor: pointer;
    color: whitesmoke;

}

.close {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 15px;
    cursor: pointer;
}

.deletebtn {
    background-color: #e81010;
    height: 48px;
    padding: 0 24px 0 16px;
    border-radius: 24px;
    cursor: pointer;
    color: whitesmoke;
}

.modal-content {
    display: block;
    margin: auto;
    padding: 16px;
    text-align: center;
    background-color: whitesmoke;
    width: 50%;
    border-radius: 30px;
    margin-bottom: 30px;
}

.modal h1 {
    font-size: 2rem;
}

.modal p {
    font-size: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}